@import "~bootstrap/scss/bootstrap";


body {
  background-color:white;
}
//---------------------------------------------------------------------- nav
.navbar {
background-image: url(/src/img/banner.png);
}

//----------------------------------------------------------------------- mailing list
.form-inline {
 padding-top: 10px;
 padding-right: 20px;
 background-color: whitesmoke;
}

// -------------------------------------------------------------------------about

#about {
  background-color: #808080;
  padding: 30px;
  color: white;
}

#about h1::after {
  content: "";
  background: white;
  display: block;
  height: 3px;
  width: 300px;
  margin: 20px auto 5px;
}
#about h4::after {
  content: "";
  background: white;
  display: block;
  height: 3px;
  width: 300px;
  margin: 20px auto 5px;
}

// ---------------------------------------------------------------------------------card

#teams {
  padding-left: 20px;
}
.card-body {
  border-radius: 60px;
  align-content: center;
  padding-left: 55px;
margin-bottom: 40px;
}

.card-body img {
  border-radius: 52%;
  border: 5px solid pink;
  margin: 20px;
  
}

//--------------------------------------------------------------------------------- article

.article p {
  padding-left: 80px;
  padding-right: 80px;
}

// ---------------------------------------------------------------------------------footer

#footer {
  background-color:  #808080;
}