@import "~bootstrap/scss/bootstrap";


body {
  background-color:white;
}
//---------------------------------------------------------------------- nav
.navbar {
background-image: url(/src/img/banner.png);
}

//----------------------------------------------------------------------- mailing list
.form-inline {
 padding-top: 10px;
 padding-right: 20px;
 background-color: whitesmoke;
}

h4 .mail {
  color: white;
}
// -------------------------------------------------------------------------about

#about {
  background-image: url(/src/img/xmen-background.png);
  padding: 30px;
  background-size: 200%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

#about h1::after {
  content: "";
  background: white;
  display: block;
  height: 3px;
  width: 300px;
  margin: 20px auto 5px;
}
#about h4::after {
  content: "";
  background: white;
  display: block;
  height: 3px;
  width: 300px;
  margin: 20px auto 5px;
}

// ---------------------------------------------------------------------------------card

#teams h1{
  padding-top: 30px;
}

.card-body {
  border-radius: 60px;
  align-content: center;
  padding-left: 55px;
margin-bottom: 40px;
}

.card-body img {
  border-radius: 52%;
  border: 5px solid pink;
  margin: 20px;
  
}

//--------------------------------------------------------------------------------- article

.article {
  background-image: url(/src/img/xmen-background.png);
  height: 250px;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  // margin-bottom: 80px;
  color: azure;
  text-align: center;
  padding-top: 20px;
}

// .article p {
//   padding-left: 80px;
//   padding-right: 80px;
//   padding-bottom: 40px;
// }

#article h4::after {
  content: "";
  background: white;
  display: block;
  height: 3px;
  width: 300px;
  margin: 20px auto 5px;
}
#article p::after {
  content: "";
  background: white;
  display: block;
  height: 3px;
  width: 300px;
  margin: 20px auto 5px;
}
// ---------------------------------------------------------------------------------footer

#footer {
  background-color:  #808080;
}

.fab {
  font-size: 40px;
  padding-top: 10px;
  margin: 20px;
}
